.sponsors{
	overflow: hidden;
	clear: both;
	padding: 70px 0;	
}

.sponsors a{
      padding: 15px 55px 15px 55px;
    vertical-align: middle;
    display: inline-block;
}

.company{
	    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}